.env
__pycache__/
*.pyc
*.pyo
.venv/
node_modules/
dist/
build/
*.egg-info/
.dagster/
services/pipelines/dagster/storage/
services/pipelines/dagster/history/
services/pipelines/dagster/logs/
services/pipelines/dagster/.logs_queue/
services/pipelines/dagster/.nux/
services/pipelines/dagster/.telemetry/
services/pipelines/dagster/schedules/
services/pipelines/dbt/target/
services/pipelines/dbt/dbt_packages/
